html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffe500;
  text-align: center;
}

h1 {
  font-family: "Sigmar One";
  font-size: 3rem;
  padding: 0;
  margin: 0;
  color: #cc1465;
}

.nav {
  font-family: Georgia;
  padding: 0;
  margin: 0;
}

li {
  padding-bottom: .3em;
}

.nav li {
  display: inline-block;
}

a {
  padding: .2em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  display: inline-block;
}

li a:hover {
  background-color: #b20953;
}

main {
  padding: 0 .75em;
}

h2 {
  font-family: Sigmar One;
  font-size: 1.875rem;
  color: #cc1465;
}

p {
  color: #2f2d13;
  font-size: 1.125em;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: .75em;
}

small {
  font-size: .75rem;
  color: #2f2d13;
}

img {
  max-width: 100%;
}

.nav .current {
  background-color: #b20953;
}
